<div class="container">

  <% content_for :page_title, "Recent Posts" %>

  <% @posts.each do |post| %>
    <div class="card mt-4 mb-4">
      <div class="card-header">
        <span class="h4">
          <%= post.title %>
        </span>
        <span class="float-right">
          Updated at <%= post.updated_at.localtime.strftime("%e %b, %Y %l:%M %p") %>
        </span>
      </div>
      <div class="card-body">
        <p class="card-text lead text-justify" id="post-content">
          <%= post.content %>
        </p>
        <%= link_to 'Read', post, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>